.title{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 49.2px;
    &_size{
        font-size: 68px;
        line-height: 55px;
    }
}

.subtitle{    
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    &_top{
        margin-top: 45px;
    }
    &_info{
        font-size: 16px;
        width: 445px;
    }
}